template(name='catering')
    .ui.header catering
    
template(name='admin')
    .ui.header admin
    .ui.header pages 
    
    
template(name='mission')    
    .ui.stackable.padded.grid 
        .sixteen.wide.column
            .ui.header Our mission is to bridge the gap between the rising demand for authentic, ethnic cuisine and the lack of minority-owned food businesses. Food Bridge believes in partnering with highly talented and motivated entrepreneurs who are already passionate chefs. They have everything it takes to run successful businesses doing what they love. In Denver's booming food scene, there are many opportunities, but there are also inherent challenges that affect low-income and non-native English speakers disproportionately. They just need a low-risk, low-capital investment period in which to get started. Our mission is to empower our partnering entrepreneurs by providing them the knowledge and experience to overcome these obstacles and build a successful foundation for their businesses. 


    
template(name='doc')
    with content 
        |!{content}
    if currentUser 
        .ui.icon.button.edit_doc
            i.large.edit.icon